.externalContainer {
  text-align: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  ),
  url(../../public/34.webp);
background-repeat: no-repeat;
background-size: cover;
position: relative;
width: 100%;
}
